In [1]:
import pandas as pd
import datetime as dt
from modules import crfb
from modules import covid

In [2]:
# Get the most recent dataset that we have on file
crfb_df = crfb.get_data_single()
# Download all the datasets we have, using the column 'Date CRFB Downloaded'
#crfb_df = crfb.get_data_all()
crfb_df

loading data from date 2021-02-09 : file 20210209_cmt.xlsx...

,Recipient State,Amount Committed/Disbursed,Date,Recipient Type,Legislation,Agency
0,Alabama,4.243599e+09,2020-04-15,Household,CARES Act,IRS
1,Alaska,6.098270e+08,2020-04-15,Household,CARES Act,IRS
2,Arizona,5.918266e+09,2020-04-15,Household,CARES Act,IRS
3,Arkansas,2.650191e+09,2020-04-15,Household,CARES Act,IRS
4,California,2.960029e+10,2020-04-15,Household,CARES Act,IRS
...,...,...,...,...,...,...
7303,California,3.325000e+07,2020-12-31,Small Business,CARES Act,Federal Reserve
7304,Oregon,1.425000e+07,2020-12-31,Small Business,CARES Act,Federal Reserve
7305,California,1.900000e+06,2020-12-31,Small Business,CARES Act,Federal Reserve
7306,Virginia,1.779091e+07,2020-12-31,Small Business,CARES Act,Federal Reserve
7307,Ohio,9.500000e+06,2020-12-31,Small Business,CARES Act,Federal Reserve

In [3]:
# To filter by date use
#covid_df = covid.get_data(date_min=dt.datetime(2020, 10, 23), date_max=dt.datetime(2021, 2, 9))
# else, use this
covid_df = covid.get_data()
covid_df

,date,state,positive,negative,onVentilatorCumulative,recovered,death,hospitalized,positiveTests
0,2021-02-09,Alaska,53809.0,0.0,0.0,0.0,280.0,1223.0,65100
1,2021-02-09,Alabama,474666.0,1825185.0,1463.0,252880.0,8579.0,43499.0,0
2,2021-02-09,Arkansas,308848.0,2297201.0,1464.0,288774.0,5148.0,14174.0,74670
3,2021-02-09,Arizona,787268.0,2834530.0,0.0,108965.0,14286.0,54967.0,0
4,2021-02-09,California,3354591.0,0.0,0.0,0.0,44477.0,0.0,0
...,...,...,...,...,...,...,...,...,...
17315,2020-01-17,Washington,0.0,0.0,0.0,0.0,0.0,0.0,0
17316,2020-01-16,Washington,0.0,0.0,0.0,0.0,0.0,0.0,0
17317,2020-01-15,Washington,0.0,0.0,0.0,0.0,0.0,0.0,0
17318,2020-01-14,Washington,0.0,0.0,0.0,0.0,0.0,0.0,0
17319,2020-01-13,Washington,0.0,0.0,0.0,0.0,0.0,0.0,0

In [40]:
state_leg = crfb_df.groupby('Recipient State')['Legislation'].count().sort_values(ascending=False).to_frame()
state_leg.reset_index(inplace=True)

In [41]:
state_money = crfb_df.groupby('Recipient State')['Amount Committed/Disbursed'].sum().sort_values(ascending=False).to_frame()
state_money.reset_index(inplace=True)
state_money['Amount Committed/Disbursed'] = state_money.apply(lambda x: "${0:,.2f}".format(x['Amount Committed/Disbursed']), axis=1)
state_money.rename(columns={"Recipient State": "state"}, inplace=True)

In [42]:
state_death = covid_df.groupby('state')['death'].max().to_frame()
state_death.reset_index(inplace=True)

In [43]:
state_cases = covid_df.groupby('state')['positive'].max().to_frame()
state_cases.reset_index(inplace=True)

In [46]:
sample_state = pd.merge(state_cases,state_death,on='state')
sample_state['Death %'] = round(sample_state['death']/sample_state['positive'] * 100,2)

In [56]:
master_frame = pd.merge(sample_state,state_money,on='state',how='left').sort_values(by='Death %',ascending=False,axis=0).reset_index(drop=True)
master_frame

             state   positive    death  Death % Amount Committed/Disbursed
0       New Jersey   728304.0  22103.0     3.03         $55,065,781,573.00
1    Massachusetts   546896.0  15124.0     2.77         $45,919,622,915.00
2      Connecticut   264608.0   7298.0     2.76         $18,889,945,792.00
3     Pennsylvania   876913.0  22620.0     2.58         $72,126,939,806.00
4         Michigan   623731.0  15925.0     2.55         $53,167,573,494.00
5         New York  1487086.0  36481.0     2.45        $153,340,195,800.00
6      Mississippi   282969.0   6342.0     2.24         $12,296,763,111.00
7        Louisiana   414354.0   9162.0     2.21         $22,276,314,564.00
8         Maryland   365529.0   7413.0     2.03         $30,594,832,680.00
9       New Mexico   178280.0   3430.0     1.92          $8,003,573,514.00
10        Illinois  1150170.0  21802.0     1.90         $83,197,277,904.00
11            Iowa   272103.0   5145.0     1.89         $11,124,537,952.00
12    Rhode Island   119434.0   2248.0     1.88          $5,544,224,860.00
13         Indiana   641874.0  11942.0     1.86         $25,333,983,925.00
14         Alabama   474666.0   8579.0     1.81         $16,513,685,521.00
15         Arizona   787268.0  14286.0     1.81         $29,264,109,138.00
16   West Virginia   125522.0   2150.0     1.71          $6,615,539,238.00
17        Arkansas   308848.0   5148.0     1.67         $11,171,252,401.00
18    South Dakota   109405.0   1809.0     1.65          $3,437,514,820.00
19  South Carolina   470311.0   7693.0     1.64         $17,105,169,272.00
20         Georgia   947416.0  15301.0     1.62         $54,071,134,915.00
21         Florida  1758254.0  28526.0     1.62         $90,296,356,191.00
22   New Hampshire    68918.0   1109.0     1.61          $5,686,209,249.00
23          Nevada   285136.0   4559.0     1.60         $15,667,999,234.00
24           Texas  2504556.0  39001.0     1.56        $137,388,193,193.00
25          Hawaii    27226.0    418.0     1.54          $8,108,473,858.00
26           Maine    41630.0    639.0     1.53          $6,316,990,648.00
27        Missouri   467313.0   7149.0     1.53         $22,909,236,388.00
28        Delaware    81210.0   1221.0     1.50          $4,551,353,408.00
29    North Dakota    98184.0   1457.0     1.48          $3,340,193,175.00
30          Kansas   282960.0   4197.0     1.48         $11,513,267,996.00
31         Vermont    13105.0    186.0     1.42          $3,115,157,875.00
32       Tennessee   747462.0  10631.0     1.42         $23,729,557,147.00
33        Colorado   407210.0   5746.0     1.41         $22,463,154,398.00
34      Washington   323214.0   4451.0     1.38         $33,355,892,621.00
35          Oregon   147419.0   2024.0     1.37         $16,504,966,570.00
36         Montana    96288.0   1315.0     1.37          $4,334,398,625.00
37       Minnesota   469254.0   6308.0     1.34         $24,205,323,259.00
38      California  3354591.0  44477.0     1.33        $215,406,324,105.00
39        Virginia   534116.0   6898.0     1.29         $32,282,794,637.00
40            Ohio   925350.0  11793.0     1.27         $46,397,109,340.00
41  North Carolina   802065.0  10046.0     1.25         $36,710,911,091.00
42         Wyoming    52830.0    647.0     1.22          $2,760,324,023.00
43       Wisconsin   602256.0   6663.0     1.11         $19,535,447,982.00
44        Kentucky   381121.0   4126.0     1.08         $16,367,582,363.00
45           Idaho   165658.0   1776.0     1.07          $6,078,524,965.00
46        Nebraska   194170.0   1978.0     1.02          $7,157,013,378.00
47        Oklahoma   406064.0   3870.0     0.95         $19,312,076,914.00
48          Alaska    53809.0    280.0     0.52          $3,578,611,551.00
49            Utah   356040.0   1748.0     0.49         $16,625,769,065.00

In [10]:
## day_change
# day change per state per date. date, year, month, day, +positive +death +recovered +money recieved
## week_change
# week change per state, same values
## month_change
# month change per state, same values