In [15]:
import pandas as pd
import datetime as dt
from modules import crfb
from modules import covid
import datetime

In [3]:
# Get the most recent dataset that we have on file
crfb_df = crfb.get_data_single()
# Download all the datasets we have, using the column 'Date CRFB Downloaded'
#crfb_df = crfb.get_data_all()
crfb_df.head()

loading data from date 2021-02-09 : file 20210209_cmt.xlsx...

,Recipient State,Amount Committed/Disbursed,Date,Recipient Type,Legislation,Agency
0,Alabama,4.243599e+09,2020-04-15,Household,CARES Act,IRS
1,Alaska,6.098270e+08,2020-04-15,Household,CARES Act,IRS
2,Arizona,5.918266e+09,2020-04-15,Household,CARES Act,IRS
3,Arkansas,2.650191e+09,2020-04-15,Household,CARES Act,IRS
4,California,2.960029e+10,2020-04-15,Household,CARES Act,IRS

In [4]:
# To filter by date use
#covid_df = covid.get_data(date_min=dt.datetime(2020, 10, 23), date_max=dt.datetime(2021, 2, 9))
# else, use this
covid_df = covid.get_data()
covid_df.head()

,date,state,positive,negative,onVentilatorCumulative,recovered,death,hospitalized,positiveTests
0,2021-02-10,Alaska,53991.0,0.0,0.0,0.0,280.0,1224.0,65272
1,2021-02-10,Alabama,476067.0,1830673.0,1463.0,264621.0,8888.0,43685.0,0
2,2021-02-10,Arkansas,309940.0,2306389.0,1469.0,290548.0,5174.0,14211.0,75183
3,2021-02-10,Arizona,789245.0,2841495.0,0.0,109543.0,14462.0,55088.0,0
4,2021-02-10,California,3362981.0,0.0,0.0,0.0,44995.0,0.0,0

In [5]:
# Group by State with Legislation count as measure
state_leg = crfb_df.groupby('Recipient State')['Legislation'].count().sort_values(ascending=False).to_frame()
state_leg.reset_index(inplace=True)
state_leg.head()

  Recipient State  Legislation
0      California          643
1         Florida          621
2           Texas          564
3        New York          340
4        Illinois          240

In [6]:
# Group by state with Money Disbused as measure
state_money = crfb_df.groupby('Recipient State')['Amount Committed/Disbursed'].sum().sort_values(ascending=False).to_frame()
state_money.reset_index(inplace=True)
state_money['Amount Committed/Disbursed'] = state_money.apply(lambda x: "${0:,.2f}".format(x['Amount Committed/Disbursed']), axis=1)
state_money.rename(columns={"Recipient State": "state"}, inplace=True)
state_money.head()

        state Amount Committed/Disbursed
0  California        $215,406,324,105.00
1    New York        $153,340,195,800.00
2       Texas        $137,388,193,193.00
3     Florida         $90,296,356,191.00
4    Illinois         $83,197,277,904.00

In [7]:
state_death = covid_df.groupby('state')['death'].max().to_frame()
state_death.reset_index(inplace=True)

In [8]:
state_cases = covid_df.groupby('state')['positive'].max().to_frame()
state_cases.reset_index(inplace=True)

In [9]:
sample_state = pd.merge(state_cases,state_death,on='state')
sample_state['Death %'] = round(sample_state['death']/sample_state['positive'] * 100,2)

In [10]:
master_frame = pd.merge(sample_state,state_money,on='state',how='left').sort_values(by='Death %',ascending=False,axis=0).reset_index(drop=True)
master_frame.to_csv('output_data/summary.csv')
state_overall_frame = master_frame
state_overall_frame.head()

           state  positive    death  Death % Amount Committed/Disbursed
0     New Jersey  732674.0  22250.0     3.04         $55,065,781,573.00
1  Massachusetts  548946.0  15207.0     2.77         $45,919,622,915.00
2    Connecticut  265496.0   7326.0     2.76         $18,889,945,792.00
3   Pennsylvania  880291.0  22745.0     2.58         $72,126,939,806.00
4       Michigan  624970.0  15939.0     2.55         $53,167,573,494.00

In [11]:
state_overall_frame.describe()

           positive         death    Death %
count  5.000000e+01     50.000000  50.000000
mean   5.383620e+05   9173.540000   1.641800
std    6.243519e+05  10344.299898   0.527987
min    1.312200e+04    187.000000   0.490000
25%    1.524728e+05   1997.250000   1.347500
50%    3.748490e+05   6044.500000   1.555000
75%    6.387212e+05  11574.750000   1.877500
max    3.362981e+06  44995.000000   3.040000

In [21]:
# Create Test Frame with grouping
date_frame = crfb_df.groupby(by=['Date', 'Recipient State', 'Legislation', 'Recipient Type'])['Amount Committed/Disbursed'].sum().to_frame().sort_values(by='Amount Committed/Disbursed',ascending=False).reset_index()
date_frame['Amount Committed/Disbursed'] = date_frame.apply(lambda x: "${0:,.2f}".format(x['Amount Committed/Disbursed']), axis=1)
date_frame['Date'] = date_frame[['Date']].apply(lambda x: x[0].timestamp(), axis=1).astype(int)
date_frame

,Date,Recipient State,Legislation,Recipient Type,Amount Committed/Disbursed
0,1609545600,California,CARES Act,Household,"$78,921,400,000.00"
1,1609545600,New York,CARES Act,Household,"$40,673,414,055.00"
2,1612051200,California,PPP & Health Care Enhancement Act,Small Business,"$35,296,301,953.00"
3,1586908800,California,CARES Act,Household,"$29,600,287,000.00"
4,1609545600,Pennsylvania,CARES Act,Household,"$24,448,593,775.00"
...,...,...,...,...,...
2009,1591833600,North Carolina,CARES Act,Small Business,"$12,842.00"
2010,1595289600,Florida,CARES Act,Small Business,"$11,400.00"
2011,1593561600,Pennsylvania,CARES Act,Small Business,"$8,364.00"
2012,1595548800,North Dakota,CARES Act,Small Business,"$7,015.00"
2013,1595894400,Alaska,CARES Act,Small Business,"$2,149.00"

In [14]:
# List out Recipient Types
list(date_frame['Recipient Type'].unique())

['Household',
 'Small Business',
 'Large Business',
 'Financial Sector',
 'State & Local Government',
 'Health Provider',
 'Pharmaceutical & Biotech',
 'Education Provider',
 'Other']

In [15]:
# Health Provider is all we want 
health_frame = date_frame.loc[date_frame['Recipient Type'] == 'Health Provider']
dates_only = health_frame.groupby(['Date', 'Recipient State', 'Legislation'])['Amount Committed/Disbursed'].sum().to_frame()
dates_only
# Print min and max dates 
print(crfb_df['Date'].min(),crfb_df['Date'].max())

2020-02-14 00:00:00 2021-02-09 00:00:00

In [16]:
# Print head for reference
crfb_df.head()

,Recipient State,Amount Committed/Disbursed,Date,Recipient Type,Legislation,Agency
0,Alabama,4.243599e+09,2020-04-15,Household,CARES Act,IRS
1,Alaska,6.098270e+08,2020-04-15,Household,CARES Act,IRS
2,Arizona,5.918266e+09,2020-04-15,Household,CARES Act,IRS
3,Arkansas,2.650191e+09,2020-04-15,Household,CARES Act,IRS
4,California,2.960029e+10,2020-04-15,Household,CARES Act,IRS

In [17]:
# Print head for reference
covid_df.head()

,date,state,positive,negative,onVentilatorCumulative,recovered,death,hospitalized,positiveTests
0,2021-02-10,Alaska,53991.0,0.0,0.0,0.0,280.0,1224.0,65272
1,2021-02-10,Alabama,476067.0,1830673.0,1463.0,264621.0,8888.0,43685.0,0
2,2021-02-10,Arkansas,309940.0,2306389.0,1469.0,290548.0,5174.0,14211.0,75183
3,2021-02-10,Arizona,789245.0,2841495.0,0.0,109543.0,14462.0,55088.0,0
4,2021-02-10,California,3362981.0,0.0,0.0,0.0,44995.0,0.0,0

In [34]:
def analysis_frame():
    # Grab both dataframes using module defs
    crfb_df = crfb.get_data_single()
    crfb_df.rename(columns={"Recipient State":"state", "Date":"date", "Amount Committed/Disbursed": "money recieved", "Legislation": "legislation"}, inplace=True)
    covid_df = covid.get_data(date_min=dt.datetime(2020, 2, 14), date_max=dt.datetime(2021, 2, 10))

    # Set columns for master dataframe
    columns = ['date', 'state','legislation', 'money recieved', 'positive', 'negative', 'recovered', 'deaths', 'hospitalized']

    # Group bys
    us_spend_frame = crfb_df.groupby(['date', 'state'])['money recieved'].sum()
    merge_frame = pd.merge(us_spend_frame, covid_df, on=['date', 'state'])
    return merge_frame

In [35]:
master_frame = analysis_frame()
master_frame

loading data from date 2021-02-09 : file 20210209_cmt.xlsx...

,date,state,money recieved,positive,negative,onVentilatorCumulative,recovered,death,hospitalized,positiveTests
0,2020-02-14,New Jersey,1.523121e+08,0.0,0.0,0.0,0.0,0.0,0.0,0
1,2020-03-06,Massachusetts,3.804038e+07,0.0,0.0,0.0,0.0,0.0,0.0,33
2,2020-03-11,Minnesota,9.885580e+05,21.0,217.0,0.0,0.0,0.0,0.0,0
3,2020-03-12,Maryland,5.981910e+05,12.0,94.0,0.0,0.0,0.0,0.0,0
4,2020-03-13,California,5.613300e+05,202.0,916.0,0.0,0.0,4.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...
1669,2021-02-09,Virginia,1.115687e+09,534116.0,0.0,0.0,42199.0,6898.0,22339.0,656736
1670,2021-02-09,Washington,1.148048e+09,323214.0,4464543.0,0.0,0.0,4451.0,18480.0,307163
1671,2021-02-09,West Virginia,4.588345e+08,125522.0,1906759.0,0.0,108616.0,2150.0,0.0,0
1672,2021-02-09,Wisconsin,8.926249e+08,602256.0,2541584.0,0.0,531343.0,6663.0,25021.0,0
1673,2021-02-09,Wyoming,1.044024e+08,52830.0,173985.0,0.0,51386.0,647.0,1306.0,47688