In [38]:
# Dependencies 
# Save as CSV
import pandas as pd
import requests
import os

In [39]:
# last update 2021-01-28
dataframes = []
dataFolder = "data"
for file in os.listdir(dataFolder):
    frame = pd.read_csv(f"{dataFolder}/{file}")
    dataframes.append(frame)

In [40]:
covid_frame = dataframes[1].loc[dataframes[1]['national_interest_action'] == 'COVID-19 2020']

In [41]:
state_frame = covid_frame.groupby(['primary_place_of_performance_state'])['gross_outlay_amount_fyb_to_period_end'].sum().reset_index() 
state_frame

   primary_place_of_performance_state  gross_outlay_amount_fyb_to_period_end
0                             ALABAMA                           1.051141e+06
1                              ALASKA                           2.214465e+06
2                             ARIZONA                           8.091831e+06
3                            ARKANSAS                           6.663344e+06
4                          CALIFORNIA                           1.147664e+08
5                            COLORADO                           1.631813e+06
6                         CONNECTICUT                           2.219894e+05
7                            DELAWARE                           7.126000e+03
8                DISTRICT OF COLUMBIA                           2.146795e+08
9                             FLORIDA                           4.728327e+06
10                            GEORGIA                           4.546142e+08
11                             HAWAII                           3.850000e+05
12                              IDAHO                           5.205800e+04
13                           ILLINOIS                           1.368497e+08
14                            INDIANA                           9.024800e+03
15                               IOWA                           2.155703e+05
16                             KANSAS                           2.660973e+08
17                           KENTUCKY                           0.000000e+00
18                          LOUISIANA                           1.220006e+06
19                           MARYLAND                           9.868071e+07
20                      MASSACHUSETTS                           3.880813e+08
21                           MICHIGAN                           1.034460e+06
22                          MINNESOTA                           1.130235e+07
23                           MISSOURI                           3.968618e+04
24                            MONTANA                           4.709069e+05
25                           NEBRASKA                           1.467889e+06
26                             NEVADA                           2.940775e+04
27                      NEW HAMPSHIRE                           4.999830e+04
28                         NEW JERSEY                           1.041930e+07
29                         NEW MEXICO                           3.142165e+07
30                           NEW YORK                           4.305407e+07
31                     NORTH CAROLINA                           1.398841e+07
32                       NORTH DAKOTA                           9.662982e+04
33                               OHIO                           1.655140e+07
34                           OKLAHOMA                           3.990622e+06
35                             OREGON                           3.979828e+05
36                       PENNSYLVANIA                           1.233058e+08
37                        PUERTO RICO                           0.000000e+00
38                       RHODE ISLAND                           4.659718e+07
39                     SOUTH CAROLINA                           3.086476e+05
40                       SOUTH DAKOTA                           9.841111e+05
41                          TENNESSEE                           6.789423e+06
42                              TEXAS                           1.698869e+08
43                               UTAH                           4.461717e+05
44                            VERMONT                           5.806374e+04
45                           VIRGINIA                           1.217057e+08
46                         WASHINGTON                           1.145990e+08
47                      WEST VIRGINIA                           3.189367e+05
48                          WISCONSIN                           5.406197e+06
49                            WYOMING                           0.000000e+00

In [42]:
date_frame = covid_frame.groupby(['period_of_performance_start_date'])['gross_outlay_amount_fyb_to_period_end'].sum().reset_index() 
date_frame

    period_of_performance_start_date  gross_outlay_amount_fyb_to_period_end
0                         2014-01-09                              427173.57
1                         2014-09-23                               80032.80
2                         2015-08-25                              622074.32
3                         2015-09-01                             1080160.73
4                         2015-09-04                              114551.99
..                               ...                                    ...
278                       2020-12-31                                   0.00
279                       2021-01-01                                   0.00
280                       2021-01-04                                   0.00
281                       2021-01-05                                   0.00
282                       2021-01-19                                   0.00

[283 rows x 2 columns]